*.dSYM
testmain.lib
testmain.exp
test.lib
test.exp
*.pdb
dll.lib
dll.exp
libaquery.a
libaquery.lib
server.lib
server.exp
*.idb
aq
aq.exe
.cached
*.json
!sample_ast.json
*.o
*.pch
*.gch
a.out.*
*.log
*.pyc
*.tab
out
.idea
.svn
*.iml
/mo_sql_parsing.egg-info
/build
/dist
/mo-sql-parsing
vendor/
._*
.DS_Store
.eggs
.vscode
out.k
k
*.so
*.pdf
**/*.cmake
**/Debug
**/Release
test*.c*
*.csv
!test.csv
!test2.csv
!moving_avg.csv
!nyctx100.csv
!network.csv
*.out
*.asm
!mmw.so
*.k
!header.k
!join.k
**/.vs
**/x64
*.user
*.filters
*.tmp
*.bin
*.shm
server/packages/**
*.ipynb
*.cmake
*.stackdump
saves
*.exe
out*.cpp
udf*.hpp
*.ipynb


